footer {
  display: flex;
  position: relative;
  width: 50%;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12pt;

  button, & > a {
    width: 150px;
    margin: 0;
    border: none;
    padding: 0 10px;
    font-size: 12pt;
  }
}
