header {
  display: flex;
  width: 50%;
  margin: 50px 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 12pt;
}

.brand {
  align-self: center;
  font-size: 21pt;
}

.options {
  display: flex;
}
