@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --color-bg: #181818;
  --color-fg: #2a2f34;
  --color-font: #e1e1e1;
  --color-tint: #ffaa00;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', source-code-pro, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  color: var(--color-font);
  text-decoration: none;
  transition: color 0.4s ease;
  
  &:hover {
    color: var(--color-tint);
  }
}

button {
  margin: 10px;
  border: 2px solid var(--color-font);
  padding: 10px;
  font-weight: 700;
  background-color: var(--color-bg);
  color: var(--color-font);
  cursor: pointer;

  &.option {
    margin: 0;
    border: none;
    padding: 5px;
    font-size: 12pt;
  }

  &:hover {
    color: var(--color-tint);
    border-color: var(--color-tint);
  }
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
}
