.dark {
  --color-bg: #181818;
  --color-fg: #2a2f34;
  --color-font: #e1e1e1;
  --color-tint: #ffaa00;
}

.light {
  --color-bg: #f8f8f8;
  --color-fg: #dae0e0;
  --color-font: #1a1a1a;
  --color-tint: #ffaa00;
}
