.dark {
  --color-bg: #181818;
  --color-fg: #464f57;
  --color-font: #e1e1e1;
  --color-tint: #ffaa00;
  --color-error: #ff6b6b;
  --color-muted: #9aa0a8;
}

.light {
  --color-bg: #f8f8f8;
  --color-fg: #babebe;
  --color-font: #1a1a1a;
  --color-tint: #ffaa00;
  --color-error: #c84a4a;
  --color-muted: #7d838b;
}
